---
import Layout from '../layouts/Layout.astro';
import GitHubIcon from '../icons/github.svg?raw';
import PayPalIcon from '../icons/paypal.svg?raw';
import KoFiIcon from '../icons/kofi.svg?raw';
import BmcIcon from '../icons/bmc.svg?raw';
import RazorPayIcon from '../icons/razorpay.svg?raw';
import TriangleInfoIcon from '../icons/triangle-info.svg?raw';
---

<Layout title="Support Sim8085" showActions={false} fullwidth={false} fullHeight={false}>
    <main class="privacy-policy max-w-4xl mx-auto py-8 px-4">
        <h1 class="text-2xl mb-6 font-bold">❤️ Support Sim8085</h1>
        <p class="mb-2 leading-relaxed">
            If this project has been helpful to you, I’m truly grateful for the opportunity to make a difference.
        </p>
        <p class="mb-2 leading-relaxed">
            Please consider buying a virtual coffee or making a small donation to help me continue working on projects like this.
        </p>
        <p class="mb-10 leading-relaxed">
            Every contribution matters. 🙏
        </p>
        <div class="flex gap-4 md:gap-8 items-start flex-wrap justify-start md:justify-evenly bg-main-background px-4 pt-8 pb-6 rounded-lg align-center shadow-lg">
            <div class="" title="Recommended">
                <a target="_blank" href="https://github.com/sponsors/debjitbis08?o=esb"
                    class="text-xl border-b-0 border-b-secondary-border flex gap-1 items-end text-active-foreground hover:text-blue-foreground cursor-pointer">
                    <Fragment set:html={GitHubIcon} />
                    <span>GitHub</span>
                    <span class="text-xs self-center">⭐</span>
                </a>
                <div>
                    <!-- <iframe src="https://github.com/sponsors/debjitbis08/button" title="Sponsor debjitbis08" height="32" width="114" style="border: 0; border-radius: 6px;"></iframe> -->
                </div>
                <p class="mt-0 text-inactive-foreground text-sm">
                </p>
            </div>
            <div class="">
                <form action="https://www.paypal.com/ncp/payment/9W3T973GRR7LN" method="post" target="_top" style="display:inline-grid;justify-items:center;align-content:start;gap:0.5rem;">
                    <button class="text-xl border-b-0 border-b-secondary-border flex gap-1 items-center text-active-foreground hover:text-blue-foreground cursor-pointer" type="submit">
                        <Fragment set:html={PayPalIcon} />
                        <span>PayPal</span>
                    </button>
                </form>
                <div>
                </div>
                <p class="mt-2 text-secondary-foreground text-sm">
                </p>
            </div>
            <div class="">
                <a target="_blank" href="https://ko-fi.com/O4O8170QHN" class="text-xl border-b-0 border-b-secondary-border flex gap-1 items-center text-active-foreground hover:text-blue-foreground cursor-pointer">
                    <Fragment set:html={KoFiIcon} />
                    <span>KoFi</span>
                </a>
                <p class="mt-2 text-secondary-foreground text-sm">
                </p>
            </div>
            <div class="" title="May not work for accounts outside India.">
                <a target="_blank" href="https://www.buymeacoffee.com/debjit.biswas" class="text-xl border-b-0 border-b-secondary-border flex gap-1 items-center text-active-foreground hover:text-blue-foreground cursor-pointer">
                    <Fragment set:html={BmcIcon} />
                    <span>Buy me a coffee</span>
                    <span class="text-base self-auto text-yellow-foreground">
                        <Fragment set:html={TriangleInfoIcon} />
                    </span>
                </a>
                <div>
                </div>
                <p class="mt-2 text-secondary-foreground text-sm">
                </p>
            </div>
            <div class="" title="Razorpay requires email and phone number.">
                <a target="_blank" href="https://razorpay.com/payment-button/pl_PRRyue1p9GnvTp/view/?utm_source=payment_button&utm_medium=button&utm_campaign=payment_button"
                    class="text-xl border-b-0 border-b-secondary-border flex gap-1 items-center text-active-foreground hover:text-blue-foreground cursor-pointer">
                    <Fragment set:html={RazorPayIcon} />
                    <span>Razorpay</span>
                    <span class="text-base self-auto text-yellow-foreground">
                        <Fragment set:html={TriangleInfoIcon} />
                    </span>
                </a>
                <div>
                </div>
                <p class="mt-1 text-secondary-foreground text-sm">
                </p>
            </div>
        </div>
        <div class="flex mt-8 md:gap-16 items-start flex-wrap justify-stretch">
        </div>
    <div class="mt-6">
        <p class="mb-6 leading-relaxed">
                Sim8085 is designed and maintained currently just by <a href="https://www.debjitbiswas.com">me</a>. Sometime ago I decided to leave my
                day job to focus full-time on projects like this. This decision allows me continuous improve and add new features to the project,
                but it also means that I depend on donations for my livelihood.
        </p>
        <p class="mb-6 leading-relaxed">
                My goal is to create tools and courses for students and developers to make their lives easier and help them learn.
        </p>

        <p class="mb-6 leading-relaxed">
            <span class="underline underline-offset-4">If you’re unable to donate</span>, there are other ways to show your support:
        </p>

            <div class="">
                <div class="mb-8">
                    <h3 class="font-bold mb-4">📣 Spread the Word</h3>
                    <p>
                        Share Sim8085 with your classmates, colleagues, or on social media to help more people discover and benefit from it.
                    </p>
                </div>
                <div>
                    <h3 class="font-bold mb-4">⭐ Star the Project on GitHub</h3>
                    <p>
                        Starring the repository not only shows your appreciation but also helps the project gain visibility and encourages contributions from the community.
                    </p>
                    <p class="mt-4 mb-6">
                        <a class="github-button" href="https://github.com/debjitbis08/sim8085" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star debjitbis08/sim8085 on GitHub">Star</a>
                    </p>
                </div>
                <div>
                    <h3 class="font-bold mb-4">💡 Provide Feedback</h3>
                    <p>
                        Have suggestions or ideas? Share your thoughts on our <a href="https://github.com/debjitbis08/sim8085/discussions/categories/ideas">discussion forums</a> on GitHub and shape future updates.
                        You may also ask questions about 8085 ALP on the <a href="https://github.com/debjitbis08/sim8085/discussions/categories/q-a">Q&A forum</a>. Other students or educators may be able to answer your questions.
                    </p>
                    <p class="mt-4 mb-6">
                        <a class="github-button" href="https://github.com/debjitbis08/sim8085/discussions" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-comment-discussion" data-size="large" aria-label="Discuss debjitbis08/sim8085 on GitHub">Discuss</a>
                    </p>
                </div>
                <div>
                    <h3 class="font-bold mb-4">🛠️ Contribute to the Project</h3>
                    <p>
                        If you’re familiar with coding or documentation, consider contributing to the Sim8085 project on GitHub. I need help with writing the documentation for all the instructions and directives.
                    </p>
                    <p class="mt-4 mb-6">
                        <a class="github-button" href="https://github.com/debjitbis08/sim8085/fork" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork debjitbis08/sim8085 on GitHub">Fork</a>
                    </p>
                </div>
            </div>


        <p class="mb-6 leading-relaxed">
            Additionally, I plan to create detailed tutorials on 8085 assembly language programming to make learning more effective. These tutorials will be priced affordably to ensure they remain accessible to students.
        </p>

        <p class="leading-relaxed">
            Thank you for your support in keeping Sim8085 running and improving — it’s your involvement that helps this tool continue to grow!
        </p>
    </div>
    </main>
</Layout>

<style>
a {
    @apply text-blue-500;
}
</style>

<script is:inline  defer src="https://buttons.github.io/buttons.js"></script>
