---
import '../tailwind.main.css';
import '../themes/light.css';
import '../themes/dark.css';
import { pwaInfo } from 'virtual:pwa-info';
import { pwaAssetsHead } from 'virtual:pwa-assets/head';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import PostHogInit from '../components/analytics/PostHogInit.astro';
import PostHogInitialize from '../components/analytics/PostHogInitialize.astro';
import CookieBanner from '../components/analytics/CookieBanner.astro';

interface Props {
	title: string;
	showActions: boolean;
	fullwidth: boolean;
    fullHeight: boolean;
	smallFooter?: boolean;
	noHeader?: boolean;
	noFooter?: boolean;
}

const { title, showActions, fullwidth, fullHeight, smallFooter, noHeader, noFooter } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, viewport-fit=cover" />
        <meta name="description" content="Fast, accurate, and offline-capable Intel 8085 simulator with assembler and debugger. Works on desktop and mobile, no installation needed." />
        <meta name="author" content="Debjit Biswas, www.debjitbiswas.com" />
        <meta name="keywords" content="8085, assembler, simulator, IDE, Intel">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		{ pwaAssetsHead.themeColor && <meta name="theme-color" content={pwaAssetsHead.themeColor.content} /> }
        { pwaAssetsHead.links.map(link => (
            <link {...link} />
        )) }
        <script src="/src/pwa.js"></script>
        { pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} /> }
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" type="image/svg+xml" href="/favicon-dark.svg" media="(prefers-color-scheme: dark)"/>
		<script is:inline>
          (function () {
              // On page load or when changing themes, best to add inline in `head` to avoid FOUC
              const theme = localStorage.theme;
              if (theme === 'system') {
                  // Detect system preference (dark or light)
                  const isDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;
                  document.documentElement.setAttribute("data-theme", isDarkMode ? 'dark' : 'light');
              } else {
                  // Apply the manually selected theme ('light' or 'dark')
                  document.documentElement.setAttribute('data-theme', theme === 'dark' ? 'dark' : 'light');
              }
          }());
        </script>
        <!-- <PostHogInit /> -->
        <PostHogInitialize useTracking={import.meta.env.PUBLIC_USE_TRACKING === 'true'} apiKey={import.meta.env.PUBLIC_POSTHOG_API_KEY}/>
    </head>
	<body class={`bg-page-background text-primary-foreground min-h-dvh`}>
        <main class={`${!fullwidth ? "max-w-4xl mx-auto" : ""} ${fullHeight ? "h-full" : ""}`}>
			{!noHeader && <Header showActions={showActions} fullwidth={fullwidth} />}
            <div class={`${fullHeight ? "h-[calc(100svh-8rem)] md:h-[calc(100svh-6.2rem)]" : ""}`}>
                <slot />
            </div>
    	</main>
        {!noFooter && <Footer small={smallFooter} />}
        <CookieBanner />
	</body>
</html>

<script>
import Alpine from 'alpinejs';

document.addEventListener('alpine:init', () => {
  Alpine.store('theme', {
      value: 'system',

      init() {
          this.value = localStorage.getItem('theme') || 'system';
          // On page load, apply the appropriate theme
          this.applyTheme();

          // Watch for changes in system preference if the theme is 'system'
          this.watchSystemPreference();
      },

      switch(theme) {
          this.value = theme;  // Update theme value
          this.applyTheme();   // Apply the selected theme
          localStorage.setItem('theme', theme);
      },

      applyTheme() {
          if (this.value === 'system') {
              // Detect system preference (dark or light)
              const isDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;
              // document.documentElement.classList.toggle('dark', isDarkMode);
              document.documentElement.setAttribute('data-theme', isDarkMode ? 'dark' : 'light');
          } else {
              // Apply the manually selected theme ('light' or 'dark')
              // document.documentElement.classList.toggle('dark', this.value === 'dark');
              document.documentElement.setAttribute('data-theme', this.value === 'dark' ? 'dark' : 'light');
          }
      },

      watchSystemPreference() {
          // Watch for system preference changes (e.g., user switches from dark to light mode in OS)
          window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', (e) => {
              if (this.value === 'system') {
                  // document.documentElement.classList.toggle('dark', e.matches);
                  document.documentElement.setAttribute('data-theme', e.matches ? 'dark' : 'light');
              }
          });
      }
  });
});
</script>

<script>
    const cookieConsent = localStorage.getItem('cookie_consent');
    const useTracking = import.meta.env.PUBLIC_USE_TRACKING === 'true';

    async function identify() {
        const { getSession } = await import('../lib/supabase.js');
        console.log("Identifying user");
        getSession().then(async ({session, error}) => {
            if (!error && session?.user) {
                const name = session.user?.user_metadata?.name || "";

                posthog.identify(
                    session.user.id,
                    {email: session.user.email, name}
                );
            } else if (cookieConsent === "no") {
                const { getFingerprint } = await import('@thumbmarkjs/thumbmarkjs');
                const fingerprint = await getFingerprint();
                posthog.identify(
                    fingerprint,
                    { anon: true }
                );
            }
        });
    }

    const waitForPostHog = (cb) => {
        const check = () => {
        if (window.posthog?.__loaded) {
            cb();
        } else {
            setTimeout(check, 100); // poll until ready
        }
        };
        check();
    };

    if (useTracking && !window.location.host.includes('127.0.0.1') && !window.location.host.includes('localhost')) {
        waitForPostHog(async () => {
            await identify();
        })
    }
</script>
